* {
      margin: 0;
      padding: 0;
}

body {
  background-color: #f0edf2;
}

.topnav {
    background-color: #d48fe8;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

.topnav button {
    float: right;
    text-color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

.topnav button img{
  height: 18px;
  width: 18px;
}

.topnav a img {
  padding: 0;
  width: 20%;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

#logo a:hover {
  background-color: #d48fe8;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.topnav-button {
  background-color: #d48fe8;
  color:white;
  padding: 0;
  border: none;
}

.topnav-button:hover {
    background-color: #ddd; /* Green */
    color: white;
}   

#toolbar-header {
    padding-bottom: 20px;
}

#sign-out-button {
    padding: 20px;
}

.total {
    text-align: center;
}

tr.statusbar {
    background-color: white;
    text-align: center;
    font-size: 20px;
}

h1 {
    text-align: center;
}
nav {
    background-color: #085068;
    color: white;
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
    text-align: center;
    padding-bottom: 100%;
}
nav ul {
    list-style-type: none;
    padding: 0;
}

th {
    background-color: #085068;
    color: white;
}

.orders {
    margin:auto;
    padding-left: 8em;
    float: left;
    width: 70%;
    text-align: center;
}
table.order-items {
    margin: 40px;
    border: 1px solid black;
    width: 100%;
}

table.order-items td {
    padding: 10px;
}

table.order-items tr:nth-child(odd) {
    background-color: white;
}
table.order-items tr:nth-child(even) {
    background-color: #E9EDEE;
}


/* Jonathan's toolbar */

ul.topBarul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 100%;
}

li.logsign {
    float: left;
}

li.right {
    float: right;
}

li.logsign a, li.right a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Arial';
}

li.logsign a:hover {
    background-color: #111;
}
